@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root {
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  color: #616161;
  line-height: 1.5;
  font-size: 0.875rem;
  background-image: url(https://img.freepik.com/free-vector/natural-style-abstract-small-structures-pattern-background_1017-27304.jpg?size=626&ext=jpg&ga=GA1.2.1789656252.1612428479);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.section {
  width: 100%;
  margin: 0 auto;
}

.copy-btn {
  outline: transparent;
  background-color: transparent;
  border: none;
}

.copy-btn .light {
  color: white;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-left: 2rem;
  width: 100%;
}
.container h3 {
  margin-bottom: 0;
  margin-right: 2rem;
  font-size: 30px;
  color: black;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

input {
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: transparent;
}

input.error {
  border: 2px solid red;
}
.btn {
  background: black;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
}

.colors {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 50px auto;
  align-items: center;

  height: auto;
  padding: 30px;
  border-radius: 10px;
}
.color {
  cursor: pointer;
  font-size: 1rem;
  padding: 20px;
  margin: 5px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.percent-value {
  margin-bottom: 0;
  color: gray;
}
.color-value {
  color: gray;
  margin-bottom: 0;
}
.color-light .color-value {
  color: white;
}
.color-light .percent-value {
  color: white;
}

.alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}
